.App {
  .sidebar {
    width: 18%;
    height: 100vh;
    background-color: #38040e;
    position: fixed;
    border-right: 1px solid #35ff69;
  }
  .main-content {
    width: 82%;
    margin-left: 18%;
    background-color: #250902;
    min-height: 100vh;
    background-image: url(../Img/dots.svg);
    display: grid;
    position: relative;
    .content {
      margin: 3rem 7rem;
    }
  }
}
