/*
  --bg: #10121b, #080705; #250902
  --sidebar: #191d2b #8489c0 #9d9c62; #38040e
  --main-blue-color: #037fff, #0d3b66; #426b69
  --main-border-color: #2e344e #2d2a32 #494947; #8bb17a
  --font-color: #a4acc4 #a5b5bf, #abc8c7; #b5ca8d

  #35ff69, #7eb77f
*/