@import "./Styles/layout";
@import "./Styles/navbar";
@import "./Styles/typos";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #b5ca8d;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
}
